name: Build and Deploy to Hugging Face Spaces

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      #1. Checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      #2. Set up Python for the testing
      - name: Set up Python  
        uses: actions/setup-python@v4
        with:
          python-version: 3.12
      
      #3. Install dependencies
      - name: Install dependencies
        run: make install
      
      #4. Run tests
      - name: Run tests
        run: make install

      #5. Log in to Hugging Face
      - name: Log in to Hugging Face
        run: |
          pip install huggingface_hub
          huggingface-cli login --token ${{secrets.HF}}

      #6. Build Docker image
      - name: Build Docker image
        run: docker build -t sentiment-app .

      #7. Push Docker image to Hugging Face Spaces
      - name: Push to Hugging Face Spaces
        run: |
          pip install git-lfs
          # Replace USER/REPO with your Hugging Face Space repo
          git clone https://huggingface.co/spaces/EuphyTheLuffy/SentimentAnalysisGradioApp hf_space
          cp -r * hf_space/
          cd hf_space
          git add .
          git commit -m "Deploy updated Docker container"
          git push
