name: Build and Deploy to Hugging Face Spaces

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      #1. Checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      #2. Build Docker image
      - name: Build Docker image
        run: docker build -t sentiment-app .

      #3. Push Docker image to Hugging Face Spaces
      - name: Push to Hugging Face Spaces
        env:
          HF_TOKEN: ${{ secrets.HF }}
        run: |
          pip install git-lfs
          # Replace USER/REPO with your Hugging Face Space repo
          git clone https://EuphyTheLuffy:$HF_TOKEN@huggingface.co/spaces/EuphyTheLuffy/SentimentAnalysisGradioApp hf_space
          rsync -av --exclude '.git' --exclude 'hf_space' . hf_space/
          cd hf_space
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add .
          git commit -m "Deploy updated Docker container"
          git push
